<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <title>CORE</title>
</head>
<body>

<body>
  <header>
    <h1> COmputación en REd - CORE</h1>
    <div id = 'parent'>
      <div id='botones'>
        <nav>
          <a href="/">Home</a>
          <a href="/Posts">Posts</a>
          <a href="/about.html">About</a>
        </nav>
      </div>
      <div id='buscador'>
        <form id='form' name="search" action="/posts/search" method="get">
          <input type="submit" value="Buscar">
          <input type="text" name="key">
        </form> 
      </div>
  </div>
</header>
       
  <section>
   <hr />
   <%- body %>
   <hr />
  </section>

  <footer>
    <p> Universidad Politécnica de Madrid. Curso 2012-2013. Visitas: <%- countValue() %></p>
</p>
  </footer>
</body>
</html>
