body {
  padding: 20px;
  background-image: url("/images/bg.jpg");
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

article {
  border: 2px solid #ffffff;
  padding: 7px;
  margin: 20px;
  background-color: #e5f5ff;
}

#buscador {
	width: 50%;
	float: right;
}

#botones {
	width: 50%;
	float: left;
}

#parent{
	height: 30px;
}

#form{
	float: right;
	margin-right: 20px;
}